<ion-header>
  <ion-toolbar>
    <ion-title>About Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div>
    <p>
      I’m a software developer and I love it, makes me happy contribute to improve the process on the people, companies, make it more efficient, save cost, time and energy because at the end it reflects on people life quality. My favorite project are those that impacts on people day to day since simple things like pets or children to employee or transportation.
    </p>
    <p>
      Graduates as an engineer about in 2010 and have worked as a developer even some years before tha, I’ve specialized as a web developer and my favorite technologies are PHP and Angular and I passionate by project involved on mobile applications because generally are that makes easier people life. 
    </p>
    <p>
      I have lived in different cities and countries and shared with partners from around the world those experiences have been valuable to me because they allowed to me work with different cultures and enrich my experience and perspectives around teamwork.
    </p>
  </div>
</ion-content>
